---
interface Props {
  href: string;
  target?: string;
}

const { href, target } = Astro.props;
---

<a
  href={href}
  target={target}
  class='block w-fit rounded-md border border-accent bg-white px-3 py-2 text-xl font-medium text-accent transition duration-200 hover:bg-accent/80 hover:text-white lg:px-6 lg:py-3'
>
  <slot />
</a>
