---
import type { EventStatus, ScheduledEvent } from '@/types/event';
import EventCard from './EventCard.astro';

interface Props {
  events: ScheduledEvent[];
  status: EventStatus;
}

const { events, status } = Astro.props;

events.sort((a, b) => a.startTime - b.startTime);
---

<div class='flex flex-wrap justify-center gap-6'>
  {events.map((e) => <EventCard event={e} status={status} />)}
</div>
