---
import Logo from './Logo.astro';
import NavSocial from './NavSocial.astro';
import Separator from './Separator.astro';
---

<div class='flex w-screen flex-col items-center px-8 pb-8 pt-4'>
  <Logo />
  <div class='py-1'></div>
  <Separator class='w-full' />
  <div class='py-2'></div>
  <div class='flex gap-x-4'>
    <NavSocial
      class='h-8 w-8 bg-accent hover:bg-black lg:h-10 lg:w-10'
      iconClass='h-6 w-6 lg:h-[30px] lg:w-[30px]'
      name='discord'
      href='https://discord.gg/gSAz2GC'
    />
    <NavSocial
      class='h-8 w-8 bg-accent hover:bg-black lg:h-10 lg:w-10'
      iconClass='h-5 w-5 lg:h-7 lg:w-7'
      name='instagram'
      href='https://www.instagram.com/mcgillanime/'
    />
    <NavSocial
      class='h-8 w-8 bg-accent hover:bg-black lg:h-10 lg:w-10'
      iconClass='h-7 w-7 lg:h-8 lg:w-8'
      name='facebook'
      href='https://www.facebook.com/McGillAnime/'
    />
    <NavSocial
      name='linktree'
      iconClass='h-6 w-6 lg:h-[30px] lg:w-[30px]'
      class='h-8 w-8 bg-accent hover:bg-black lg:h-10 lg:w-10'
      href='https://linktr.ee/mcgillanimeclub'
    />
  </div>
  <div class='py-3'></div>
  <div class='text-sm'>© McGill Students’ Anime Club. 2024.</div>
</div>
