<a href='/' class='flex h-16 min-w-fit cursor-pointer items-center gap-x-1'>
  <img src='/assets/logo.png' height={40} width={50} />
  <div id='logo-text' class='w-24 font-[Comfortaa] text-sm leading-4'>
    McGill Students' Anime Club
  </div>
</a>
