<a href='/' class='flex min-w-fit h-16 items-center gap-x-1 cursor-pointer'>
  <img src='/assets/logo.png' height={40} width={50} />
  <div id='logo-text' class='font-[Comfortaa] text-sm leading-4 w-24'>
    McGill Students' Anime Club
  </div>
</a>
