---
import NavLink from './NavLink.astro';
import NavSocial from './NavSocial.astro';
import Logo from './Logo.astro';
---

<div class='hidden border-b px-4 md:block lg:px-16'>
  <div class='flex h-20 items-center'>
    <Logo />
    <div class='flex h-full min-w-fit items-center gap-x-2'>
      <NavLink href='/#events'>Events</NavLink>
      <NavLink href='/sponsors'>Sponsors</NavLink>
      <NavLink href='/#newsletter'>Newsletter</NavLink>
      <NavLink href='/#execs'>Our Team</NavLink>
      <!-- <NavLink href='/faq'>FAQ</NavLink> -->
    </div>
    <div class='min-w-4 flex-grow'></div>
    <div class='flex items-center gap-x-1 lg:gap-x-2'>
      <NavSocial
        class='h-8 w-8 bg-black hover:bg-accent lg:h-10 lg:w-10'
        iconClass='h-6 w-6 lg:h-[30px] lg:w-[30px]'
        name='discord'
        href='https://discord.gg/gSAz2GC'
      />
      <NavSocial
        class='h-8 w-8 bg-black hover:bg-accent lg:h-10 lg:w-10'
        iconClass='h-5 w-5 lg:h-7 lg:w-7'
        name='instagram'
        href='https://www.instagram.com/mcgillanime/'
      />
      <NavSocial
        class='h-8 w-8 bg-black hover:bg-accent lg:h-10 lg:w-10'
        iconClass='h-7 w-7 lg:h-8 lg:w-8'
        name='facebook'
        href='https://www.facebook.com/McGillAnime/'
      />
      <NavSocial
        name='linktree'
        iconClass='h-6 w-6 lg:h-[30px] lg:w-[30px]'
        class='h-8 w-8 bg-black hover:bg-accent lg:h-10 lg:w-10'
        href='https://linktr.ee/mcgillanimeclub'
      />
      <a
        class='ml-2 text-nowrap rounded-md bg-accent px-3 py-2 text-sm font-medium text-white transition duration-200 hover:bg-accent/90 lg:ml-4 lg:px-5 lg:py-2 lg:text-base'
        href='/contact'
      >
        Contact Us
      </a>
    </div>
  </div>
</div>
