---
interface Props {
  href: string;
  mobile?: boolean;
}

const { href, mobile } = Astro.props;
---

<a
  href={href}
  class:list={[
    'flex h-full items-center px-1 font-semibold text-accent lg:px-2 xl:px-4',
    mobile ? 'py-1' : 'hover-underline-animation text-sm lg:text-base',
  ]}
>
  <slot />
</a>

<style>
  .hover-underline-animation {
    position: relative;
    color: theme('colors.accent');
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 40%;
    transform: scaleX(0);
    height: 3px;
    border-radius: 8px;
    bottom: 0;
    left: 30%;
    background-color: theme('colors.accent');
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }
</style>
