---
import Layout from '@/layouts/Layout.astro';
import Question from '@/components/astro/Question.astro';
import Link from '@/components/astro/Link.astro';
---

<Layout title='FAQ'>
  <div class='p-16'>
    <Question question='What is MSAC?'>
      <div>
        MSAC is the McGill Student's Anime Club. We are a group of students that
        promotes anime, manga, and other related subjects in the greater
        Montreal region.
      </div>
      <br />
      <div>
        During the semester, we host weekly events, both online (on discord) and
        in-person.To promote socialization among our members, we offer a mixture
        of official-club-sponsored activities (lead by the executive team) as
        well as unnoficial activities (lead by the community).
      </div>
    </Question>
    <div class='py-1'></div>
    <Question question='Do you organize anything else?'>
      <h3 class='text-lg font-semibold my-2'>Costume Contest</h3>
      <div>
        In 2021, we hosted our first costume contest. We understand that
        cosplays can be expensive. Thus, the term costume was very open ended.
        We encouraged members to participate even with a simple costume. We are
        hoping to make this event into an annual tradition.
      </div>
      <h3 class='text-lg font-semibold my-2'>Maid Cafe</h3>
      <div>
        In non-covid times, the maid cafe is the biggest MSAC event that we look
        forward to organizing every year. Attendees can enjoy food and drinks
        that are served by lovely maids and butlers as well as play games.
      </div>
      <br />
      <div>
        In 2022, through the maid cafe, we raised more than 700$, all of which
        was donated to
        <Link href='http://animatorsupporters.com/'>Animator Supporters.</Link>
      </div>
      <br />
      <div>
        Organizing the maid cafe is a lot of work, thus each year, we are always
        looking for volunteers to help us out.
      </div>
    </Question>
    <div class='py-1'></div>
    <Question question='How do I become a member of MSAC?'>
      <div>
        There is no membership process to join MSAC. You become a member the
        moment you join any of the club's activities.
      </div>
      <br />
      <div>
        If you want to be notified whenever the club host events, join our
        discord server, follow us on Facebook or subscribe to the newsletter.
      </div>
    </Question>
    <div class='py-1'></div>
    <Question question='How do I become an exec?'>
      <div>
        Generally, exec applications opens around February. Look out for the
        annoucement on our discord server. No previous experience is required,
        so we encourage our members to apply.
      </div>
    </Question>
    <div class='py-1'></div>
    <Question question="What is the club's constitution?">
      <div>
        You can find the most recent ratified version of our constitution
        <Link href='https://msac.ssmu.ca/msac_constitution.pdf'> here. </Link>
      </div>
    </Question>
    <div class='py-1'></div>
    <Question question="I have a question that hasn't been answered here">
      <div>
        If your question hasn't been answered, feel free to ask us through the
        <Link href='/contact'>Contact Us</Link>
        page.
      </div>
    </Question>
  </div>
</Layout>
