---
import Layout from '@/layouts/Layout.astro';
import MembershipCard from '@/components/astro/MembershipCard.astro';
import ExecCarousel from '@/components/preact/ExecCarousel';
import GetInvolvedCard from '@/components/astro/GetInvolvedCard.astro';
import ButtonLink from '@/components/astro/ButtonLink.astro';
import { Icon } from 'astro-icon/components';
---

<Layout>
  <!-- Hero -->
  <div class='bg-black pb-4 pt-8 text-white md:pb-8 xl:pb-80'>
    <div class='flex flex-col md:px-8 lg:pl-16 xl:flex-row'>
      <div class='md:mt-12 xl:mt-28 xl:w-1/3'>
        <h1
          class='text-center text-3xl font-bold leading-snug sm:text-4xl md:text-left md:text-5xl md:leading-tight'
        >
          Dive into the vibrant world of anime and manga with MSAC
        </h1>
        <div class='py-3 lg:py-4'></div>
        <a
          class='relative z-50 mx-auto flex w-fit items-center gap-x-2 rounded-md border border-accent bg-white px-3 py-1 text-lg font-bold text-accent transition duration-200 hover:bg-accent hover:text-white sm:px-4 sm:py-2 sm:text-xl md:mx-0'
          href='https://discord.gg/gSAz2GC'
        >
          <Icon name='discord' class='h-8 w-8 sm:h-9 sm:w-9' />
          <span>Discord</span>
        </a>
      </div>
      <img
        src='/assets/usami.svg'
        class='z-50 mt-4 md:mt-0 xl:w-2/3 xl:max-w-5xl'
      />
    </div>
    <div class='mt-8 flex flex-col p-6 md:mt-16 md:flex-row lg:p-0 xl:mt-0'>
      <div
        class='relative hidden w-2/3 lg:block lg:max-w-[576px] xl:max-w-[700px]'
      >
        <svg
          class='absolute -top-20 w-3/5 xl:-top-40'
          viewBox='0 0 467 704'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M465 58.5548L-28.5481 2.65479V701.699L465 627.214V58.5548Z'
            stroke='white'
            stroke-width='3'></path>
        </svg>
        <img
          src='/assets/execs.png'
          class='absolute z-10 md:left-8 lg:left-16 xl:-top-16'
        />
      </div>
      <div class='lg:ml-24 lg:w-2/5 xl:ml-28'>
        <h2 class='mb-8 text-4xl font-bold'>About Us</h2>
        <img src='/assets/execs.png' class='mb-4 lg:mb-0 lg:hidden' />
        <div class='text-xl font-medium'>
          The McGill Students' Anime Club (MSAC) is a Students’ Society of
          McGill University (SSMU) club built to bring McGill weebs from all
          walks of life together.
          <br />
          <br />
          During the semester, MSAC hosts a myriad of events and activities to promote
          anime culture in McGill and foster an active community.
        </div>
        <a
          class='mt-10 block w-fit rounded-md border border-accent bg-white px-6 py-3 text-xl font-medium text-accent transition duration-200 hover:bg-accent hover:text-white'
          href='/#execs'
        >
          Our Team
        </a>
        <div class='lg:py-10 xl:py-0'></div>
      </div>
    </div>
  </div>
  <!-- Events -->
  <div id='events' class='bg-background-light px-8 py-12 lg:px-16 lg:py-16'>
    <div class='text-center text-4xl font-bold lg:text-5xl'>Get involved!</div>
    <div class='py-4 lg:py-12'></div>
    <div class='flex flex-col gap-x-12 md:flex-row'>
      <GetInvolvedCard
        title='Special Events'
        src='/assets/special_events.png'
        description='We host our Cosplay Event in Fall and our Maid Café in Winter'
        href=''
      />
      <GetInvolvedCard
        title='Weekly Events'
        src='/assets/weekly_events.png'
        description='Come to our events every Monday (7-9PM) and Friday (6-8PM)'
        href='/events'
      />
      <GetInvolvedCard
        title='Join our Discord'
        src='/assets/join_discord.png'
        description='To engage and chat with our active online community'
        href='https://discord.gg/gSAz2GC'
        actionText='Join now'
      />
    </div>
  </div>
  <!-- Sponsors -->
  <div
    id='sponsors'
    class='relative mx-auto flex flex-col gap-x-16 bg-background px-8 md:h-[512px] md:flex-row md:items-start md:justify-evenly lg:h-[600px] lg:items-stretch'
  >
    <div class='absolute top-0 hidden h-16 w-full bg-background-light md:block'>
    </div>
    <div class='flex flex-col pt-8 md:max-w-xs md:pt-32 lg:max-w-lg'>
      <h2
        class='text-center text-3xl font-bold md:text-left md:text-4xl md:leading-tight lg:text-5xl lg:leading-snug'
      >
        Sponsors and Membership Card
      </h2>
      <div class='py-2'></div>
      <div class='text-xl md:text-2xl lg:text-3xl lg:leading-snug'>
        Discover our partners, sponsors, and how you can save with our
        Membership Card!
      </div>
      <div class='flex-grow py-3'></div>
      <div class='hidden md:block'>
        <ButtonLink href='/sponsors'>Learn More</ButtonLink>
      </div>
      <MembershipCard class='mx-auto w-36 md:hidden' />
      <div class='mt-[272px] block md:hidden'>
        <ButtonLink href='/sponsors'>Learn More</ButtonLink>
      </div>
      <div class='py-2 lg:py-6'></div>
    </div>
    <MembershipCard
      class='mt-8 hidden md:mr-16 md:block md:w-72 lg:mr-24 lg:w-96'
    />
  </div>
  <!--Newsletter callout-->
  <!-- <div -->
  <!--   id='newsletter' -->
  <!--   class='mx-auto flex max-w-4xl flex-col items-center justify-center px-4 pt-8 sm:px-8 md:pt-20' -->
  <!-- > -->
  <!--   <h3 class='text-center text-3xl font-bold md:text-4xl'> -->
  <!--     Sign up to Usami's Newsletter -->
  <!--   </h3> -->
  <!--   <div class='py-4'></div> -->
  <!--   <div class='text-center text-xl md:text-2xl'> -->
  <!--     Get announcements and reminders about our events, hear the latest news -->
  <!--     about our partnerships, get to know the executive team, and more! -->
  <!--   </div> -->
  <!--   <div class='py-12 md:py-6'></div> -->
  <!--   <div class='relative'> -->
  <!--     <img src='assets/usami_newsletter.svg' class='w-64 md:w-80' /> -->
  <!--     <div class='absolute -right-12 -top-16 md:-right-40 md:top-0'> -->
  <!--       <a -->
  <!--         class='relative block' -->
  <!--         id='newsletter-button' -->
  <!--         href='http://eepurl.com/9cwIf' -->
  <!--       > -->
  <!--         <div -->
  <!--           class='w-fit rounded-md border border-accent bg-white px-6 py-3 text-xl font-medium text-accent md:px-10' -->
  <!--         > -->
  <!--           Sign up -->
  <!--         </div> -->
  <!--         <svg -->
  <!--           width='40' -->
  <!--           height='40' -->
  <!--           viewBox='0 0 40 40' -->
  <!--           fill='white' -->
  <!--           xmlns='http://www.w3.org/2000/svg' -->
  <!--           class='absolute -bottom-[38px] left-10' -->
  <!--         > -->
  <!--           <path -->
  <!--             d='M8.61771 0.930275C14.1548 5.57471 14.0071 21.0908 0.544434 39.4942C18.0238 26.6434 31.8453 17.429 38.5718 0.785645' -->
  <!--             stroke='#CE3703'></path> -->
  <!--         </svg> -->
  <!--       </a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!--Execs-->
  <!-- <div class='pt-8 sm:px-8 lg:px-16 lg:py-16' id='execs'> -->
  <!--   <div class='pt-8 text-center text-3xl font-bold lg:text-4xl'>Our Team</div> -->
  <!--   <div class='py-3'></div> -->
  <!--   <div class='mx-auto w-24 bg-background py-0.5 lg:py-1'></div> -->
  <!--   <div class='py-2 lg:py-6'></div> -->
  <!--   <div -->
  <!--     class='mx-auto flex max-w-5xl justify-center sm:rounded-xl sm:border sm:shadow-md' -->
  <!--   > -->
  <!--     <ExecCarousel execs={EXECS} client:load /> -->
  <!--   </div> -->
  <!-- </div> -->
</Layout>

<!-- <style> -->
<!--   #newsletter-button { -->
<!--     pointer-events: none; -->
<!--   } -->
<!--   #newsletter-button > * { -->
<!--     pointer-events: auto; -->
<!--   } -->
<!--   #newsletter-button:hover > div { -->
<!--     background-color: theme('colors.accent' / 0.8); -->
<!--     color: white; -->
<!--     transition: background-color, color; -->
<!--     transition-duration: 0.2s; -->
<!--   } -->
<!--   #newsletter-button:hover > div:hover { -->
<!--     background-color: theme('colors.accent' / 0.8); -->
<!--     color: white; -->
<!--     transition: background-color, color; -->
<!--     transition-duration: 0.2s; -->
<!--   } -->
<!--   #newsletter-button:hover > svg { -->
<!--     fill: theme('colors.accent' / 0.8); -->
<!--     transition: fill 0.2s; -->
<!--   } -->
<!--   #newsletter-button:hover > svg:hover { -->
<!--     fill: theme('colors.accent' / 0.8); -->
<!--     transition: fill 0.2s; -->
<!--   } -->
<!-- </style> -->
