---
import SponsorCard from '@/components/astro/SponsorCard.astro';
import SponsorLogo from '@/components/astro/SponsorLogo.astro';
import Layout from '@/layouts/Layout.astro';
import MembershipCard from '@/components/astro/MembershipCard.astro';
---

<Layout title='Sponsors'>
  <div class='px-2 py-8 pb-2 sm:px-4 md:p-12'>
    <h1 class='mx-auto w-fit text-center text-2xl font-bold sm:text-5xl'>
      Thank you to our sponsors!
    </h1>
    <div
      class='mx-auto flex max-w-2xl flex-col items-center justify-between gap-x-8 px-8 pb-24 sm:flex-row sm:items-start'
    >
      <div class='flex max-w-sm flex-col pt-6 text-center sm:pt-24'>
        <div class='font-semibold leading-snug text-gray-600 sm:text-xl'>
          Membership card holders receive the following benefits...
        </div>
      </div>
      <MembershipCard class='mt-4 w-36 sm:mr-auto sm:mt-8' />
    </div>
    <div class='py-20 sm:py-4'></div>
    <div
      class='mx-auto flex max-w-4xl flex-col items-center justify-evenly gap-x-2 gap-y-4 sm:flex-row sm:items-stretch'
    >
      <SponsorCard
        src='/assets/sponsors/otaku-manga-lounge.jpg'
        href='https://otakulounge.com/en/homepage/'
        alt='O-Taku Manga Lounge'
        description='5% off all manga and 10% off food and beverages'
      />
      <SponsorCard
        src='/assets/sponsors/planete-otaku.png'
        href='https://www.planeteotaku.ca/'
        alt='Planète Otaku'
        description='10% off everything in store'
      />
      <SponsorCard
        src='/assets/sponsors/three-kings-loot.png'
        href='https://www.threekingsloot.com/'
        alt='Three Kings Loot'
        description='10% off everything in store'
      />
    </div>
    <div class='py-8'></div>

    <div class='flex flex-wrap items-center justify-center gap-8'>
      <SponsorLogo
        href='https://store.udonentertainment.com/'
        src='/assets/sponsors/udon.png'
        alt='UDON Entertainment'
      />
      <SponsorLogo
        href='https://sekaiproject.com/'
        src='/assets/sponsors/sekai.webp'
        alt='Sekai Project'
      />
      <SponsorLogo
        src='/assets/sponsors/rocket.png'
        href='https://rocketpandagames.com/'
        alt='Rocket Panda Games'
      />
    </div>
  </div>
</Layout>
