---
import Layout from '@/layouts/Layout.astro';
import Events from '@/components/preact/Events';
---

<Layout title='Events'>
  <div class='flex flex-col items-center px-2 py-8 pb-2 sm:px-4 md:p-12'>
    <Events client:load />
  </div>
</Layout>
