---
import Layout from '@/layouts/Layout.astro';
import EventCard from '@/components/astro/EventCard.astro';
import EventGroup from '@/components/astro/EventGroup.astro';
import type { ScheduledEvent } from '@/types/event';
import Events from '@/components/preact/Events';

// TODO: Handle markdown

const LIVE_EVENTS: ScheduledEvent[] = [
  {
    id: '1',
    name: 'Spring 2024 Anime Screening',
    location: 'SSMU Building Room 202',
    description:
      'We are partnering with the wonderful Anime North Compass to offer our members a 10$ discount on tickets! We will also be covering the 4.49$ Eventbrite fees for you. Membership card owners can pre-order their ticket using this link🧭',
    startTime: 1716523200,
    endTime: 1716781500,
    imageUrl:
      'https://cdn.discordapp.com/guild-events/1213185245646688347/24672f25f4c3cebb19170df538c3baa1?size=1024',
  },
  {
    id: '1',
    name: 'Anime North!!',
    description:
      'We are partnering with the wonderful Anime North Compass to offer our members a 10$ discount on tickets! We will also be covering the 4.49$ Eventbrite fees for you. Membership card owners can pre-order their ticket using this link🧭',
    location: 'Toronto Congress Centre',
    startTime: 1716523200,
    endTime: 1716781500,
    imageUrl:
      'https://cdn.discordapp.com/guild-events/1213185245646688347/24672f25f4c3cebb19170df538c3baa1?size=1024',
  },
  {
    id: '1',
    name: 'Anime North!!',
    description:
      'We are partnering with the wonderful Anime North Compass to offer our members a 10$ discount on tickets! We will also be covering the 4.49$ Eventbrite fees for you. Membership card owners can pre-order their ticket using this link🧭',
    location: 'Toronto Congress Centre',
    startTime: 1716523200,
    endTime: 1716781500,
    imageUrl:
      'https://cdn.discordapp.com/guild-events/1213185245646688347/24672f25f4c3cebb19170df538c3baa1?size=1024',
  },
];

const UPCOMING_EVENTS: ScheduledEvent[] = [
  {
    id: '1',
    name: 'Anime North!!',
    description:
      'We are partnering with the wonderful Anime North Compass to offer our members a 10$ discount on tickets! We will also be covering the 4.49$ Eventbrite fees for you. Membership card owners can pre-order their ticket using this link🧭',
    location: 'Toronto Congress Centre',
    startTime: 1716523200,
    endTime: 1716781500,
    imageUrl:
      'https://cdn.discordapp.com/guild-events/1213185245646688347/24672f25f4c3cebb19170df538c3baa1?size=1024',
  },
];
const PAST_EVENTS: ScheduledEvent[] = [];
---

<Layout title='Events'>
  <div class='flex flex-col items-center px-2 py-8 pb-2 sm:px-4 md:p-12'>
    <Events client:load />
  </div>
</Layout>
